{% extends 'base.html' %}

{% block title %} Создать новую привычку {% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <p id="field_{{ field.auto_id }}">{{ field.label_tag }} {{ field }}</p>
            </div>
        {% endfor %}
        <input type="submit" value="Создать привычку">
    </form>
{% endblock content %}

{% block script %}
    <script>
        const freq_field_block = document.getElementById('field_id_frequency');
        const freq_select_field = document.getElementById('id_frequency');
        const datetype = document.getElementById('id_habit_datetype');

        datetype.addEventListener('change', function() {
            const selectedDatetype = this.value;

            if (selectedDatetype == 'every_day') {
                freq_field_block.style.display = 'none';
                freq_select_field.value = '1';
            } else {
                freq_field_block.style.display = 'block';
            }
        });
    </script>
{% endblock script %}