{% extends 'base.html' %}

{% load static %}


{% block title %} Список привычек {% endblock title %}

{% block content %}
    {% if habits %}
        {% for habit in habits %}
            <div class="habit_card">
                <h2>{{ habit.title }}</h2>
                <p>{{ habit.purpose }}</p>
                {% if habit.datetype == 'daily' %}
                    <span>Daily</span>
                {% else %}
                    <span>{{ habit.frequency }}
                        {% if habit.frequency > 1 %} 
                            times
                        {% else %} 
                            time
                        {% endif %} 
                        a {{ habit.datetype }}
                    </span>
                {% endif %}
                <div>
                    <span>Выполнили ли вы сегодня привычку?</span>
                    <a href="{% url 'habits:set_habit_status_for_today' pk=habit.id %}?status=complited">Да ✅</a>
                    <a href="{% url 'habits:set_habit_status_for_today' pk=habit.id %}?status=incomplited">Нет ❌</a>
                </div>
                 <div>
                    <a href="{% url 'habits:detail_habit' pk=habit.id %}">Посмотреть вашу историю выполнения привычки</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>У вас пока что нет привычек. <a href="{% url 'habits:create_habit' %}">Создать</a></p>
    {% endif %}
{% endblock content %}
