
{% if status == 'complited' %}
    <div>
        <h1>Поздравляю! Вы сегодня смогли выполнить свою привычку - {{habit.title}}. Каково это было?</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div>
                    <span>Комментарий: {{ field }}</span>
                </div>
            {% endfor %}
            <input type="submit" value="Выполнено✅">
        </form>
    </div>
{% elif status == 'incomplited' %}
    <div>
        <h1>Почему вам не удалось выполнить привычку?</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div>
                    <span>Комментарий: {{ field }}</span>
                </div>
            {% endfor %}
            <input type="submit" value="Не выполнено❌">
        </form>
    </div>
{% endif %}